Repository oboehmer/dnac-template-as-code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: provision_templates, preview_templates, deploy_templates, test

provision_templates:
  image: ${RUNNER_IMAGE}
  stage: provision
  artifacts:
    when: always
    paths:
    - results-1-provision.json
  script:
  - python scripts/provision_templates.py --config $CONFIG_YAML --template_dir $TEMPLATE_DIR --results results-1-provision.json $DEBUG

preview_templates:
  image: ${RUNNER_IMAGE}
  stage: deploy
  artifacts:
    when: always
    paths:
    - template-preview.txt
  script:
  - python scripts/preview_templates.py --config $CONFIG_YAML --outfile template-preview.txt --deploy_dir $DEPLOY_DIR $DEBUG

deploy_templates:
  image: ${RUNNER_IMAGE}
  stage: deploy
  artifacts:
    when: always
    paths:
    - results-2-deploy.json
  script:
  - python scripts/deploy_templates.py --config $CONFIG_YAML --deploy_dir $DEPLOY_DIR --results results-2-deploy.json $DEBUG

test:
  image: ${RUNNER_IMAGE}
  stage: test
  artifacts:
    when: always
    paths:
    - tests/out/*
    - tests/deploy/*
    - results-3-tests.json
    reports:
      junit: tests/out/output-junit.xml
  script:
  - rm -rf tests/deploy || true
  ...

update ssh options
  tests/testbed-preprod.yaml
Due: test

update templates and testbed.yaml
  tests/templates/common_header.j2
  tests/templates/loopback-tests.j2
  tests/testbed.yaml
Due: test

add ospf template
  deployment-preprod/ospf
  dnac-templates/ospf
Due: provision_templates, preview_templates, deploy_templates, test

fix j2 errors, add ipv6
  dnac-templates/ospf
Due: provision_templates, preview_templates, deploy_templates, test

fix syntax error
  dnac-templates/ospf
  env/requirements.txt
Due: provision_templates, preview_templates, deploy_templates, test

more debug logs, return raw response from wait_for_status, update delete_template() API method
  scripts/DNACTemplate.py
Due: provision_templates, preview_templates, deploy_templates, test

added csr-6
  .gitignore
  deployment-preprod/ospf.yaml
  dnac-templates/ospf
Due: provision_templates, preview_templates, deploy_templates, test

fix logic bug in wait-for-status
  .gitlab-ci.yml
  scripts/DNACTemplate.py
Due: provision_templates, preview_templates, deploy_templates, test

remove ipv6 cef
  dnac-templates/ospf
Due: provision_templates, preview_templates, deploy_templates, test

add ospf tests
  deployment-preprod/ospf.yaml
  tests/templates/common_header.j2
  tests/templates/ospf-tests.j2
  tests/testbed-preprod.yaml
Due: provision_templates, preview_templates, deploy_templates, test

fix tests
  tests/templates/ospf-tests.j2
Due: test

add check for neighbors
  tests/templates/ospf-tests.j2
Due: test

add debug code
  tests/templates/ospf-tests.j2
Due: test

more debugging
  tests/templates/ospf-tests.j2
Due: test

fix data structure access
  tests/templates/ospf-tests.j2
Due: test

add check route test - WIP
  tests/templates/ospf-tests.j2
Due: test

fix list var
  tests/templates/ospf-tests.j2
Due: test

add checl
  tests/templates/ospf-tests.j2
Due: test

use dq for check
  tests/templates/ospf-tests.j2
Due: test

update check
  tests/templates/ospf-tests.j2
Due: test

continue checking
  tests/templates/ospf-tests.j2
Due: test

finalize test
  tests/templates/ospf-tests.j2
Due: test

add ssr7/8
  deployment-preprod/ospf.yaml
Due: provision_templates, preview_templates, deploy_templates, test

add csr7/8 to testbed
  tests/testbed-preprod.yaml
Due: test

add loopback to ospf
  deployment-preprod/ospf.yaml
  dnac-templates/ospf
Due: provision_templates, preview_templates, deploy_templates, test

add note about DNAC version being used
  env/requirements.txt
  scripts/DNACTemplate.py
  scripts/config-preprod.yaml
  scripts/config.yaml
Due: provision_templates, preview_templates, deploy_templates, test

Prepare for CLUS demo, update to DNAC 2.2.3.3 (#1)
  .gitignore
  .gitlab-ci.yml
  deployment-preprod/SNMP.yaml
  deployment-preprod/mgmt-loopback.yaml
  deployment-preprod/ospf.yaml
  deployment-preprod/vlans.yaml
  deployment/Management-Access.yaml
  deployment/SNMP.yaml
  deployment/mgmt-loopback.yaml
  deployment/vlans.yaml
  dnac-templates/Create-Vlan-and-SVI
  dnac-templates/SNMP
  dnac-templates/ospf
  env/Dockerfile
  env/requirements.txt
  requirements.txt
  scripts/DNACTemplate.py
  scripts/config-preprod.yaml
  scripts/config.yaml
  tests/templates/common_header.j2
  tests/templates/loopback-tests.j2
  tests/templates/ospf-tests.j2
  tests/testbed-preprod.yaml
  tests/testbed.yaml
Due: provision_templates, preview_templates, deploy_templates, test

add CSR3/4 with jumphost
  tests/testbed.yaml
Due: test

fix ip address
  tests/testbed.yaml
Due: test

update room-id
  scripts/config.yaml
Due: none

Update config.yaml
  scripts/config.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: provision_templates, preview_templates, deploy_templates, test

updated Dockerfile to compile public runner image, parametrized DNAC config
  env/Dockerfile
  scripts/config.yaml
Due: none

Update mgmt-loopback.yaml
  deployment/mgmt-loopback.yaml
Due: provision_templates, preview_templates, deploy_templates, test

added productfamily:wireless controller
  scripts/DNACTemplate.py
Due: provision_templates, preview_templates, deploy_templates, test

updated Docker to reference gitlab repo
  env/Dockerfile
Due: none

Update Management-Access.yaml
  deployment/Management-Access.yaml
Due: provision_templates, preview_templates, deploy_templates, test

Path conditions:
  provision_templates: any of: .gitlab-ci.yml, dnac-templates/*, deployment/*, deployment-preprod/*, scripts/*.py
  preview_templates: any of: .gitlab-ci.yml, dnac-templates/*, deployment/*, deployment-preprod/*, scripts/*.py
  deploy_templates: any of: .gitlab-ci.yml, dnac-templates/*, deployment/*, deployment-preprod/*, scripts/*.py
  test: any of: .gitlab-ci.yml, dnac-templates/*, deployment/*, deployment-preprod/*, scripts/*.py, tests/**/*
